{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "debug": false,
        "loose": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-syntax-dynamic-import",
    "@vue/babel-plugin-transform-vue-jsx"
  ]
}
